# Data Science Tools and Ecosystem

In this notebook, Data Science Tools  and Ecosystem are summarized

Objectives:

- List popular languages used for Data Science
- Name some of the popular libraries used by Data Scientists
- List commonly used tools used by Data Scientists
- Brief intro to simple arithmetic expressions utilizing the python language

Some of th popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. TensorFlow

|Data Science Tools|
|----------------- |
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |
| Apache Spark |

### Below are a few examples of evalutating arithmetic expressions in Python

In [1]:
# This is simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

## Author
David W.